<div class="container-fluid" *ngIf="rig">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card-body">
        <div class="card text-white bg-dark rounded">
          <div class="card-header"><h5>{{rig.name}}</h5></div>
          <div class="card-body">
            <p class="card-text">
              IMO: <strong>{{rig.imo}}</strong><br>
              Latitude: <strong>{{rig.locations[0].latitude}}</strong><br>
              Longitude: <strong>{{rig.locations[0].longitude}}</strong><br>
              Type: <strong>{{rig.type}}</strong><br>
              Status: <strong>{{rig.locations[0].status}}</strong><br>
              Area: <strong>{{rig.locations[0].area}}</strong><br></p>
          </div>
          <div class="card-footer">
            <span class="text-muted">Last updated on: {{rig.locations[0].date}}</span>
            <div class="btn-group float-right">
              <button class="btn btn-warning mr-1" routerLink="/rigs/edit-rig/{{rig.imo}}">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-8 mt-1">
      <agm-map id="map" [latitude]="rig.locations[0].latitude" [longitude]="rig.locations[0].longitude" [zoom]="zoom" om [mapTypeControl]="true" [mapTypeId]="'hybrid'">
        <agm-marker
          [title]="'IMO: ' + rig.imo + ' | Name:' + ' ' + rig.name"
          [latitude]="rig.locations[0].latitude"
          [longitude]="rig.locations[0].longitude"
          [label]="{fontWeight: 'bold', text: rig.label, color: 'yellow'}"
          [iconUrl]="'assets/rig-icon.png'">
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!rig">
  <img src="https://i.imgur.com/KMaAB8Q.gif" class="center mt-3" style="height: 100px; width: 250px;" alt="Loading">
</div>
<div class="container-fluid">
  <button class="btn btn-outline-primary" routerLink="/rigs">Return</button>
</div>
