<div class="container">
  <div class="col-auto">
    <h5>Introduction</h5>
    <p>This program was developed for Siemens Offshore in hopes of reaching a milestone in regards to an internal problem with monitoring.<br>
      The purpose of the program is to allow maintaining a close look over where rigs / platforms are at any given moment. Apart from this crucial information,
      the program also informs users of relevant information such as the type of the rig as well as the area it's located in (if provided by the designated AIS) and the status of the chosen rig/platform</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width:350px; min-height: 700px;">
        <img class="card-img-top" style="height: 400px;"
             src="https://scontent.fbll1-1.fna.fbcdn.net/v/t1.0-9/150482_606156802746852_672967889_n.jpg?_nc_cat=110&_nc_ht=scontent.fbll1-1.fna&oh=fc339da9ef0bea8b0692e084183f7b09&oe=5C8C72D1"
             alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Asger Storm Kristensen</h4>
          <p class="card-text">21 år, studerer datamatiker uddannelse på EASV og regner med, at tage en bachelor.<br>
          I min fritid arbejder jeg for ComputerNørderne og nørder gerne rundt med både spil og research</p>
          <p class="text-muted">Frontend udvikler</p>
          <div class="row justify-content-center">
            <a href="#" class="btn btn-outline-dark"><i class="fab fa-github mr-1"></i>Github Profil</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:350px; height: 700px;">
        <img class="card-img-top" style="height: 400px;" src="https://i.imgur.com/W2OD66v.png">
        <div class="card-body">
          <h4 class="card-title">Malthe Schwartz</h4>
          <p class="card-text">21 år, studerer datamatiker uddannelse på EASV og derefter vælger jeg at fortsætte på en bachelor i samme felt.<br>
            I fritiden ser jeg animuh og spiller Destiny</p><br>
          <p class="text-muted">Backend udvikler</p>
          <div class="row justify-content-center">
            <a href="#" class="btn btn-outline-dark"><i class="fab fa-github mr-1"></i>Github Profil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
