<div class="container">
  <div class="col">
    <h4>Introduction</h4>
    <p>This program was developed for <a href="http://www.siemens.no/">Siemens Offshore</a> in hopes of reaching a milestone in regards to an internal
      problem with monitoring.<br>
      The purpose of the program is to allow maintaining a close look over where rigs / platforms are at any given
      moment. Apart from this crucial information,
      the program also informs users of relevant information such as the type of the rig as well as the area it's
      located in (if provided by the designated AIS) and the status of the chosen rig/platform<br>
      To get started using this program please log in on the LOGIN page or click <a href="/login">here</a></p>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 mb-5 mt-2 mr-5">
      <div class="card" style="width:350px; min-height: 700px;">
        <img class="card-img-top" style="height: 400px;"
             src="https://scontent.fbll1-1.fna.fbcdn.net/v/t1.0-9/150482_606156802746852_672967889_n.jpg?_nc_cat=110&_nc_ht=scontent.fbll1-1.fna&oh=fc339da9ef0bea8b0692e084183f7b09&oe=5C8C72D1"
             alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Asger Storm Kristensen</h4>
          <p class="card-text" style="min-height: 125px">21 år, studerer datamatiker uddannelse på EASV og regner med, at tage en bachelor.<br>
            I min fritid arbejder jeg for ComputerNørderne og nørder gerne rundt med både spil og research</p>
          <div class="row justify-content-center">
            <p class="text-muted">Frontend udvikler</p>
          </div>
          <div class="row justify-content-center">
            <a href="http://github.com/dankphetamine" class="btn btn-outline-dark github"><i class="fab fa-github mr-1"></i>Github</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5 mt-2">
      <div class="card" style="width:350px; height: 700px;">
        <img class="card-img-top" style="height: 400px;" src="https://i.imgur.com/W2OD66v.png">
        <div class="card-body">
          <h4 class="card-title">Malthe Schwartz</h4>
          <p class="card-text" style="min-height: 125px">21 år, studerer datamatiker uddannelse på EASV og derefter vælger jeg at fortsætte på en
            bachelor i samme felt.<br>
            I fritiden ser jeg animuh og spiller Destiny</p>
          <div class="row justify-content-center">
            <p class="text-muted">Backend udvikler</p>
          </div>
          <div class="row justify-content-center">
            <a href="https://github.com/makosful" class="btn btn-outline-dark github"><i class="fab fa-github mr-1"></i>Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
