<div class="container-fluid">
  <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><i class="fas fa-bars"></i></button>
  <div class="row">
      <div class="card col-md-3 col-sm-12 col-12" [ngbCollapse]="isCollapsed">
      <div class="card-body">
        <label>Search for a rig:</label>
        <input type="text" [(ngModel)]="input" placeholder="Search..." class="form-control col-auto" />
        <small class="form-text text-muted mb-2">Search for a phrase in the rig's name</small>
        <div class="card-deck">
        <div class="card-text" style="overflow-y: scroll;">
          <div class="card" *ngFor="let rig of rigs | filterRigs: input">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <span class="card-text">{{rig.id}} <br>{{rig.name}} ({{rig.label}})</span>
                </div>
                <div class="col">
                  <button class="btn btn-secondary ml-1 mt-2" (click)="showMarkerOnMap(rig)">Locate</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 col-12">
      <agm-map id="map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [mapTypeControl]="true" [mapTypeId]="'hybrid'">
        <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"[minimumClusterSize]="10">

          <agm-marker
            *ngFor="let rig of rigs"
            (markerClick)="clickedMarker(openedWindow, rig)"
            [title]="'Id: ' + rig.id + ' | Name:' + ' ' + rig.name"
            [latitude]="rig.lat"
            [longitude]="rig.lng"
            [label]="{fontWeight: 'bold', text: rig.label, color: 'yellow'}"
            [iconUrl]="'assets/rig-icon.png'">

            <agm-info-window [isOpen]="isInfoWindowOpen(rig.id)">
              <div>
                <h3 class="card-title">{{rig.name}}</h3>
                <div class="card-body">
                  <p class="card-text"><strong>Id: {{rig.id}}</strong></p>
                  <p class="card-text"><strong>IMO: {{rig.imo}}</strong></p>
                  <p class="card-text"><strong>Type: {{rig.type}}</strong></p>

                  <p class="card-text"><strong>Area: (virker ikke) {{rig.area}}</strong></p>
                  <div class="btn-group">
                    <a href="rigs/{{rig.id}}" class="btn btn-primary mr-2">Show details</a>
                    <button class="btn btn-primary">Not working</button>
                  </div>
                </div>
              </div>
            </agm-info-window>

          </agm-marker>
        </agm-marker-cluster>
      </agm-map>
    </div>
  </div>
</div>


