<div class="col-md-6 col-md-offset-3">
  <div class="alert alert-info">
    Username: UserJoe, Password: 1234<br />
    Username: AdminAnn, Password: 1234
  </div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" class="form-control" required/>
      <div *ngIf="username.invalid && submitted" class="alert-danger">
        <div *ngIf="username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" required/>
      <div *ngIf="password.invalid && submitted" class="alert-danger">
        <div *ngIf="password.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Login</button>
      <img *ngIf="loading" src="https://i.imgur.com/KMaAB8Q.gif" style="width: 75px; height: 25px;"/>
    </div>
    <div *ngIf="errormessage" class="alert-danger">{{errormessage}}</div>
  </form>
</div>
