<div class="container">
  <div *ngIf="rig">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="card-body">
          <div class="card text-white bg-dark rounded">
            <div class="card-header"><h5>Current name: {{rig.name}}</h5></div>
            <div class="card-body">
              <div class="card-text">
                <form (ngSubmit)="editRig()">
                  <!-- Name -->
                  <div class="form-group">
                    <label for="name">New name</label>
                    <input [(ngModel)]="newRig.name" required type="name" name="name" class="form-control" id="name" value="{{rig.name}}">
                  </div>
                  
                  <!-- Type -->
                  <div class="form-group">
                    <label for="type">Type</label>
                    <select required class="form-control" id="type" [(ngModel)]="newRig.rigType" name="rigType">
                      <option hidden selected>{{rig.rigType}}</option>
                      <option>Jack-up</option>
                      <option>Semi-Submersible</option>
                    </select>
                    <button class=" btn btn-primary mt-5" type="submit">Edit rig</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <button class="mt-2 btn btn-outline-info" routerLink="/rigs">Return</button>
        </div>
      </div>
    </div>
  </div>
</div>
