<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://i.imgur.com/RcK0W6n.png" alt="SIEMENS Logo" style="width: 150px; height: 25px;">
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto"> <!--LEFT NAV-->
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/map">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-right" href="#">Rigs</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto"> <!--RIGHT NAV-->
      <li class="nav-item">
        <a class="nav-link" href="#">Item 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-right" href="#">Item 3</a>
      </li>
    </ul>
  </div>
</nav>
