<agm-map id="map" [latitude]="latitude" [longitude]="longitude" [mapTypeControl]="true" [mapTypeId]="'hybrid'">
  <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
  <agm-marker
    *ngFor="let rig of rigs"
    (markerClick)="clickedMarker(infowindow)" (mouseOver)="hoverOn(infowindow)" (mouseOut)="hoverOff(infowindow)"
    [title]="'Id: ' + rig.id + ' | Name:' + ' ' + rig.name"
    [latitude]="rig.lat"
    [longitude]="rig.lng"
    [label]="{
    color: '#fff',
    fontWeight: 'bold',
    fontSize: '18px',
    text: rig.label
}">

    <agm-info-window #infowindow>
      <div class="card mb-4 shadow-m">
        <h4 class="card-title"><img src="https://i.imgur.com/pkxnWbG.png" alt="Card image" style="height: 25px; width: 25px; margin-right: 5px;">{{rig.name}}</h4>
        <div class="card-body">
          <p class="card-text"><strong>Id: {{rig.id}}</strong></p>
          <p class="card-text"><strong>Lat: {{rig.lat}}</strong></p>
          <p class="card-text"><strong>Lng: {{rig.lng}}</strong></p>
          <a href="#" class="btn btn-primary">Show details</a>
        </div>
      </div>
    </agm-info-window>

  </agm-marker>
  </agm-marker-cluster>
</agm-map>
